#container{
	margin:auto;
	margin-top:-0.6%;
	max-width:1360px;
	overflow:hidden;
	padding-top:350px;
	width:90%;
}
	header{
		height:163px;
		position:fixed;
		text-align:center;
		top:0;
		width:90%;
	}
		header hr{
			border:solid 2px black;
			margin-left:0;
			margin-top:0;
			width:70%;
		}
		header #btn-menu{
			display:none;
		}
		header label{
			display:none;
		}
		header > a{
			display:inline-block;
			height:92px;
			margin-bottom:33px;
			margin-top:25px;
			padding-top:-12px;
			width:169px;
		}
			header .logo{
				background:url(../imagenes/Logo_escritorio_marcel.png);
				height:92px;
				margin-top:0;
				text-indent:-2000px;
				width:169px;
			}
		header nav hr{
			margin-left:29.6%;
		}
			header nav #menu_principal{
				display:inline-block;
				list-style-type:none;
				padding:0;
			} 
				header nav #menu_principal li{
					float:left;
					margin-left:18px;
					margin-right:18px;
					margin-top:-6px;
				}
					header nav #menu_principal li a{
						color:black;
						display:inline-block;
						font-family:Quicksand, Nunito;
 						font-size:19px;
						font-weight:700;
						padding:8px 17px 8px 17px;
						text-decoration:none;
					}
						header nav #menu_principal li a:hover{
							box-shadow: inset 0 4px rgb(185, 190, 191); /*inset izq. arriba*/
					        transition:0.2s;
					    }
	#biografia{
		margin:auto;
		margin-bottom:195px;
		margin-top:47px;
		text-align:center;
		width:90%;
	}
		#biografia #articulo_biografía{
			margin-bottom:100px;
		}
		#biografia #linea_historia{
			background:rgb(234,155,37);
			border:none;
			height:7px;
			margin-bottom:-70px;
			margin-left:29.6%;
			width:41.5%;
		}
			#biografia h2{
				font-family:Mulish, Merriwether Sans, "M PLUS 1p";
				font-size:6.9vw;
				margin-bottom:50px;
				margin-top:72px;
			}
			#biografia .contenedor_imagen1{
				float:left;	
				margin-right:24px;			
				position:relative;
				z-index:-1;
			}
				#biografia .contenedor_imagen1 #imagen_1{
					height:520px;
					width:100%;
				}
				#biografia .contenedor_imagen1 .titulo_imagen1{
					background:black;
					color:white;
					font-family:Quicksand, nunito;
					font-size: 17px;
					font-weight:300;
					padding:3% 0% 3.4% 0%;
					position:absolute;
					width:100%;
					top:90.5%;
				}
				#biografia .contenedor_imagen2{
					float:right;	
					margin-left:25px;				
					position:relative;
					z-index:-1;
				}
				#biografia .contenedor_imagen2 .titulo_imagen2{
					background:black;
					color:white;
					font-family:Quicksand, nunito;
					font-size: 17px;
					font-weight:300;		
					padding:3% 0% 3.4% 0%;
					position:absolute;
					top:90.9%;
					width:100%;					
				}
				#biografia p{					
					font-family:Quicksand, Nunito;
					font-size: 19px;
					text-align:left;
				}
	footer{
		box-sizing:border-box;
		font-family:Quicksand, nunito;
		height:180px;
		text-align:center;
	}
		footer #hr_footer1{
			border:solid 2px black;	
			margin-left:0;
			width:70%;
		}
		footer #span1{
			font-size:27px;
			font-weight:300;
			display:inline-block;
			margin-bottom:35px;
			margin-top:65px;
		}
		footer #span2{
			display:inline-block;
			font-weight:500;
			font-size:0.8vw;
			margin-right:82%;
			margin-top:23px;
			padding-bottom:0px;
			width:23.5%;
		}
		footer #hr_footer2{
				border:solid 2px black;
				display:block;
				float:right;
				margin:-4px 0px 0px 0px;/*<hr> tiene un margin-top y bottom por default y para sacarselo aplico estos estilos y para que se quede pegado al borde inferior del footer le apliqué el -4px al top. Para aplicar margin asi a los 4 lados el orden es en el sentido del reloj*/
				width:70%;
		} 
/*movil grande landscape y tablets portrait*/
@media screen and (min-width:768px) and (max-width:1023px){
	#container{
		width:100%;
	}
		header{
			height:100px;
			width:100%;
		}
			header hr{
				border:solid 1px black;
			}
				header label{
					display:block;
					font-size:27px;		
					left:10%;
					position:absolute;
					top:34%;
				}
				header label:hover{
					color:rgb(185, 190, 191);
					transition:0.1s;
				}
				#btn-menu:checked ~ nav #menu_principal{
					transform:translateX(0%);
				}
					header > a{
						height:45px;
						margin-top:14px;
						width:45px;
					}
						header .logo{
							background-image:url("../imagenes/Logo_responsive.png");
							height:	45px;
							margin:auto;
							margin-top:3px;
							width:45px;
						}
			header nav hr{
				display:none;
			}
			header nav #menu_principal{
				border:solid 2px;
				margin-right:294px;
				margin-top:-2px;
				text-align:left;
				transform:translateX(-100%);
				transition:0.1s;
				width:70%;
			}
				header nav #menu_principal li{
					float:none;
					margin-left:0px;
					margin-top:0;
					width:100%;					
				}
					header nav #menu_principal li a{
						box-sizing:border-box;
						font-size:19px;
						font-weight:700;
						width:100%;
					}
			#biografia{
				margin-bottom:140px;
				margin-top:-162px;
				width:94%;
			}
				#biografia #linea_historia{
					height:5px;
					margin-left:26.8%;
					width:47%;
				}
				#biografia h2{
					font-size:9vw;
				}
					#biografia .contenedor_imagen1 #imagen_1{
						height:450px;
						width:100%;
					}
					#biografia p{
						font-size:16px;					
					}
					#biografia .contenedor_imagen2 #imagen_2{
						height:470px;
						width:100%;
					}
			footer{
				height:130px;
				}
				footer #hr_footer1{
					border:solid 1px black;
				}
					footer #span1{
						font-size:25px;
						margin-bottom:29px;
						margin-top:42px;
					}
					footer #span2{
						font-size:1.4vw;
						margin-top:-5px;
						padding-top:0px;
						width: 21.6%;
					}
					footer #hr_footer2{
						border:solid 1px black;
						margin-top:-2px;
					}
}
/*movil landscape y tablet portrait*/	
@media screen and (min-width:480px) and (max-width:767px){
	#container{
		width:100%;
	}
		header{
			height:100px;
			width:100%;
		}
			header hr{
				border:solid 1px black;
			}
			#btn-menu:checked ~ nav #menu_principal{
				transform:translateX(0%);
				transition:0.1s;
			}
			header label{
				display:block;
				font-size:27px;		
				left:10%;
				position:absolute;
				top:35%;
			}
			header label:hover{
				color:rgb(185, 190, 191);
				transition:0.1s;
			}
			header > a{
				height:45px;
				margin-top:17px;
				width:45px;
			}
				header .logo{
					background-image:url("../imagenes/Logo_responsive.png");
					height:	45px;
					margin:auto;
					margin-top:0px;
					width:45px;
				}
			header nav hr{
				display:none;
			}
				header nav #menu_principal{
					border:solid 2px;
					margin-right:340px;
					margin-top:-5px;
					text-align:left;
					transform:translateX(-100%);
					transition:0.1s;
					width:70%;
				}
					header nav #menu_principal li{
						float:none;
						margin-left:0;
						margin-top:0;
						width:100%;
					}
						header nav #menu_principal li a{
							box-sizing:border-box;
							width:100%;
						}
		#biografia{
			margin-bottom:130px;
			margin-top:-157px;
			width:94%;
		}
			#biografia #linea_historia{
				height:5px; 
			}
				#biografia h2{
					font-size:48.1px;
				}
					#biografia .contenedor_imagen1{
						float:none;
						width:100%;
					}
						#biografia .contenedor_imagen1 #imagen_1{
							height:700px;
						}
						#biografia .contenedor_imagen1 .titulo_imagen1{
							top:91.7%;
						} 
					#biografia .contenedor_imagen2{
						float:none;
						margin:auto;
					}
						#biografia .contenedor_imagen2 .titulo_imagen2{
							left:12.6%;
							top:89.1%;
							width:74.7%;
						}
		footer{
			height:130px;
		}
		footer #hr_footer1{
			border:solid 1px black;
		}
			footer #span1{
				font-size:25px;
				margin-bottom:29px;
				margin-top:42px;
			}
			footer #span2{
				font-size:1.4vw;
				margin-top:8px;
				padding-top:0px;
				width: 20%;
			}
			footer #hr_footer2{
				border:solid 1px black;
				margin-top:-5px;
			}
}
/*Móviles portrait*/
@media screen and (min-width:0px) and (max-width:479px){
	#container{
		width:100%;
	}
		header{
			height:85px;
			width:100%;
		}
			header hr{
				border:solid 1px black;
				background:black;	
			}
				header label{
					display:block;
					font-size:27px;
					left:10%;
					position:absolute;
					top:34%;
				}
				header label:hover{
					color:rgb(185, 190, 191);
					transition:0.1s;
				}
				#btn-menu:checked ~ nav #menu_principal{
					transform:translateX(0%);
				}	
				header > a{
					height:45px;
					margin-top:14px;
					width:45px;	
				}
				header .logo{
					background-image:url("../imagenes/Logo_responsive.png");
					height:45px;
					margin-top:-3px;
					width:45px;
				}
			header nav hr{
				display:none;
			}
				header nav #menu_principal{
					border:solid 2px;
					margin-right:106px;
					margin-top:-17px;
					text-align:left;
					transform:translateX(-100%);
					transition:0.1s;
					width:70%;
				}	
					header nav #menu_principal li{
						float:none;
						margin-left:0;
						margin-top:0;
						width:100%;
					}
						header nav #menu_principal li a{
							width:100%;
							box-sizing:border-box;
						}
		#biografia{
			margin-bottom:195px;
			margin-top:-165px;
			width:100%;
		}
			#biografia #linea_historia{
				height:4px;
				margin:auto;
				margin-bottom:-72px;
				width:60%;
			}
				#biografia h2{
					font-size:40px;
					margin-bottom:30px;
					margin-right:1%;
				}
					#biografia .contenedor_imagen1{
						float:none;
						height:;
						margin-bottom:15px;
						width:100%;
					}	
						#biografia .contenedor_imagen1 #imagen_1{
							height:100%;
						}
						#biografia .contenedor_imagen1 .titulo_imagen1{
							padding:3.5% 0% 3.1% 0%;
						}
						#biografia p{
							margin:auto;
							width:90%;
						}
					#biografia .contenedor_imagen2{
						margin-bottom:15px;
						margin-top:15px;
					}
						#biografia .contenedor_imagen2 .titulo_imagen2{
							left:12%;
							padding:2.8% 0% 2.6% 0%;
		  					top:91.6%;
						}
						#biografia iframe{
							width:90%;
						}
		footer{
			height:120px;
			text-align:center;
		}
			footer #hr_footer1{
				background:black;
				border:solid 1px;	
			}
			footer #span1{				
				font-size:17px;
				display:inline-block;
				margin-bottom:35px;
				margin-top:42px;
			}
			footer #span2{
				font-size:2vw;
				margin-top:-31px;
				width:29%;
			}
			footer #hr_footer2{
				border:solid 1px;
				margin:-1.5px 0px 0px 0px;
			} 	
}