#container{
	background:red;
	margin:auto;
	margin-top:-0.6%;
	max-width:1360px;
	width:90%;
}
	header{
		height:163px;
		position:fixed;
		text-align:center;
		top:0;
		width:90%;
	}
		header hr{
			border:solid 2px black;
			margin-left:0;
			margin-top:0;
			width:70%;
		}
		header #btn-menu{
			display:none;
		}
		header label{
			display:none;
		}
		header > a{
			display:inline-block;
			height:92px;
			margin-bottom:33px;
			margin-top:25px;
			padding-top:-12px;
			width:169px;
		}
			header .logo{
				background:url(../imagenes/Logo_escritorio_marcel.png);
				height:92px;
				margin-top:0;
				text-indent:-2000px;
				width:169px;
			}