#contenedor{
	box-sizing:border-box;
	margin:auto; /*centra el contenedor y para eso debe tener tener un width inferior a la pantalla*/
	margin-top:12.3%;
	max-width:1360px;
	overflow:hidden;
	padding-top:220px;
	width:90%;
}
	header{
		box-sizing:border-box;
		height:163px;
		position:fixed;
		text-align:center;
		top:0;
		width:90%;
	}
		header hr{
		border:solid 2px black;	
		margin-left:0;
		margin-top:0;
		width:70%;
		}
		header #btn-menu{
			display:none;
		}
		header label{
			display:none;
		}
		header > a{			
			display:inline-block;
			height:92px;
			margin-bottom:33px;
			margin-top:25px;
			padding-top:-12px;
			width:169px;
		}
		header .logo{
			background:url(../imagenes/Logo_escritorio_marcel.png);
			background-repeat:no-repeat;
			height:92px;
			margin-top:0px;
			text-indent:-2000px;
			width: 169px;
		}
		header nav hr{
			margin-left:29.6%;
		}
		header #menu_principal{
			display:inline-block; /*transforma el ul que es un elemento de bloque a uno de linea también*/
			list-style-type:none;
			padding:0;
			text-align:center; /*centra los items*/
			/*padding:0; le quita un padding-left que tiene el li por default*/
		}
			header nav #menu_principal li{
				float:left;
				margin-top:-6px;
				margin-left:18px;
				margin-right:18px;
			}
				header nav #menu_principal li a{
					color:black;
					display:inline-block;
					font-family:Quicksand, Nunito;
					font-size:19px;
					font-weight:700;
					padding:8px 17px 8px 17px;
					box-sizing:border-box;
					text-decoration:none;
				}	
				header nav #menu_principal li a:hover{
					box-shadow: inset 0 4px rgb(185, 190, 191); /*inset izq. arriba*/
					transition:0.2s;
				}
	#sección_historia{
		margin: auto;
		margin-bottom:27%;
		width:90%;
	}
		#sección_historia #Marcel_pipa{
			float:left;
			height:480px;
			margin-right:1.5%;
			width:38%;
		}
		#sección_historia article #linea_historia{
			background:rgb(234,155,37);
			border:none;
			height:7px;
			margin-bottom:-70px;
			margin-left:40.2%;
			width:41.5%;
		}
		#sección_historia article #titulo_historia{
			font-family:Mulish, Merriwether Sans, "M PLUS 1p";
			font-size:6.9vw;
			margin-bottom:21px;
			margin-left:39%;
			margin-top:72px;
			/*font-size:90px; si se achica o agranda el h2 o cualquier texto tambien se agranda en ancho y alto el el text-decoration-line:overline
			text-decoration-line:overline;*/
		}
		#sección_historia article #parrafo_historia{
			font-family:Quicksand, Nunito;
			font-size: 1.4vw;
			margin-left:40.1%;
			margin-bottom:65px;
			width:61%;
}
		#sección_historia article p span{
			background-image:linear-gradient(90deg, black, white);
			background-clip:text;
			-webkit-background-clip:text;
			-moz-background-clip:text;
			-webkit-text-fill-color:transparent;
			-moz-text-fill-color:transparent;
		}
		#sección_historia article #ver_mas1{
			font-family:Quicksand, nunito;
			font-size:2.5vw;
			font-weight:400;
			color:black;
			margin-left:-2px;
			padding:8px;
			text-decoration:none;
		}
		#sección_historia article #ver_mas1:hover{
			box-shadow:inset 0 4px rgb(185, 190, 191);
			transition:0.2s;
		}
		#sección_obras{
			margin-left:5%;
			margin-bottom:29.8%;
			width:85%;
		}
		#sección_obras article #orinal{
			float:left;
			margin-right: 1.8%;
			width:48%;
		}
		#sección_obras article #linea_obras{
			background: rgb(234, 155, 37);
			border:none;
			height:7px;
			margin-left:50.1%;
			margin-bottom:-70px;
			width:32.4%;
		}
		#sección_obras article #titulo_obras{
			font-family:Mulish, Merriwether Sans, "M PLUS 1p";
			font-size:7vw;
			margin-bottom:21px;
			margin-left:39%;
			margin-top:72px;
		}
		#sección_obras article #parrafo_obras{
			font-family:Quicksand, nunito;
			font-size: 1.4vw;
			margin-bottom:65px;
			margin-left:50%;
			width:50.6%;
		}
		#sección_obras article #parrafo_obras span{
			background-image:linear-gradient(90deg, black, white);
			background-clip:text;
			-webkit-background-clip:text;
			-moz-background-clip:text;
			-webkit-text-fill-color:transparent;
			-moz-text-fill-color:transparent;
		}
		#sección_obras article #ver_mas2{
			font-family:Quicksand, nunito;
			font-size:2.5vw;
			color:black;
			margin-left:-2px;
			padding:8px;
			text-decoration:none;
		}
		#sección_obras article #ver_mas2:hover{
			box-shadow:inset 0 4px rgb(185, 190, 191);
			transition:0.2s;
		}
	footer{
			clear:both; /*sirve para limpiar el float de #marcel_pipa*/
			font-family:Quicksand, nunito;
			font-weight:300;
			height:180px;
			text-align:center;
		}
			footer #hr_footer1{
				border:solid 2px black;	
				margin-left:0;
				width:70%;
			}
			footer #span1{				
				font-size:27px;
				display:inline-block;
				margin-bottom:35px;
				margin-top:65px;
			}
			footer #span2{
				display:inline-block;
				font-family:Quicksand, nunito;
				font-weight:500;
				font-size:0.8vw;
				margin-right:82%;
				margin-top:29px;
				padding-bottom:0px;
				padding-right:0px;
				width: 24%;
			}
			footer #hr_footer2{
				border:solid 2px black;
				display:block;
				float:right;
				margin:-4px 0px 0px 0px;/*<hr> tiene un margin-top y bottom por default y para sacarselo aplico estos estilos y para que se quede pegado al borde inferior del footer le apliqué el -4px al top. Para aplicar margin asi a los 4 lados el orden es en el sentido del reloj*/
				width:70%;
			} 
/*movil grande landscape y tablets*/
	@media screen and (min-width:768px) and (max-width:1023px){
	#contenedor{
		margin-top:0px;
		width:100%;
	}
	header{
		height:100px;
		width:100%;
	}
	header hr{
		border:solid 1px black
	}
		header label{
			display:block;
			font-size:27px;		
			left:10%;
			position:absolute;
			top:34%;
		}
		header label:hover{
			color:rgb(185, 190, 191);
			transition:0.1s;
		}
		#btn-menu:checked ~ nav #menu_principal{
			transform:translateX(0%); /*dentro del eje x el menu aparecerá entero del lado positivo*/
		}
			header > a{
				height:45px;
				margin-top:14px;
				width:45px;
			}
				header .logo{
					background-image:url("../imagenes/Logo_responsive.png");
					height:	45px;
					margin:auto;
					margin-top:0px;
					width:45px;
				}
			header nav hr{
				display:none;
			}
				header nav #menu_principal{
					border:solid 2px;
					margin-right:1100px;
					margin-top:-4px;
					text-align:left;
					transform:translateX(-100%);
					transition:0.1s;
					width:70%;
				}
					header nav #menu_principal li{
						float:none;	
						margin-left:0px;
						margin-top:0;
						width:100%;
					}
						header nav #menu_principal li a{
							font-size:19px;
							font-weight:700;
							padding:8px 17px 8px 17px;						
							width:100%; /*abarca el ancho del li*/;
						}
	#sección_historia{
				margin-bottom:300px;
				margin-top:390px;
				width:94%;
			}
				#sección_historia #Marcel_pipa{
					height:120%;
					margin-bottom:70px;
					width:48%;
				}
				#sección_historia article #linea_historia{
					height:5px;
					margin-left:52.8%;
					margin-top:-420px;
					width:45.5%;
				}
				#sección_historia article #titulo_historia{
					font-size:9vw;
					margin-bottom:10px;
					margin-left:52.2%;
					width:44%;
				}	
				#sección_historia article #parrafo_historia{
					font-size: 16px;
					margin-left:53%;
					margin-bottom:65px;
					width:47%;
				}
				#sección_historia article #ver_mas1{
					font-size:27px;
					margin-left:2.2%;
				}
			#sección_obras{
				margin:auto;
				margin-bottom:30px;
				width:94%;
			}
				#sección_obras article #orinal{
					margin-bottom:70px;
					width:48%;
				}	
				#sección_obras article #linea_obras{
					height:5px;
					margin-left:52.4%;
					width:30%;
				}
				#sección_obras article #titulo_obras{
					font-size:380%;
					margin-left:52%;
					width:40%;
				}
				#sección_obras article #parrafo_obras{
					font-size:17px;
					margin-bottom:65px;
					margin-left:52.5%;
					width:47%;
				}
				#sección_obras article #ver_mas2{
					font-size:27px;
					margin-left:1.6%;
				}
	footer{
		height:130px;
	}
	footer #hr_footer1{
		border:solid 1px black;
	}
		footer #span1{
			font-size:25px;
			margin-bottom:29px;
			margin-top:42px;
		}
		footer #span2{
			font-size:1.4vw;
			margin-top:-5px;
			padding-top:0px;
			width: 21.6%;
		}
		footer #hr_footer2{
			border:solid 1px black;
			margin-top:-2px;
		}			
}
/*tablets*/			
@media screen and (min-width:480px) and (max-width:767px){
	#contenedor{
		margin-top:0px;
		width:100%;
	}
	header{
		height:100px;
		width:100%;
	}
	header hr{
		border:solid 1px black;
	}
		header label{
			display:block;
			font-size:27px;		
			left:10%;
			position:absolute;
			top:34%;
		}
		header label:hover{
			color:rgb(185, 190, 191);
			transition:0.1s;
		}
		#btn-menu:checked ~ nav #menu_principal{
			transform:translateX(0%); /*dentro del eje x el menu aparecerá entero del lado positivo*/
		}
			header > a{
				height:45px;
				margin-top:14px;
				width:45px;
			}
				header .logo{
					background-image:url("../imagenes/Logo_responsive.png");
					height:	45px;
					margin:auto;
					margin-top:0px;
					width:45px;
				}
			header nav hr{
				display:none;
			}
				header nav #menu_principal{
					border:solid 2px;
					margin-right:1100px;
					margin-top:-4px;
					text-align:left;
					transform:translateX(-100%);
					transition:0.1s;
					width:70%;
				}
					header nav #menu_principal li{
						float:none;	
						margin-left:0px;
						margin-top:0;
						width:100%;
					}
						header nav #menu_principal li a{
							font-size:19px;
							font-weight:700;
							padding:8px 17px 8px 17px;						
							width:100%; /*abarca el ancho del li*/;
						}
			#sección_historia{
				margin-bottom:150px;
				margin-top:390px;
				width:94%;
			}
				#sección_historia #Marcel_pipa{
					height:120%;
					margin-bottom:70px;
					width:48%;
				}
				#sección_historia article #linea_historia{
					height:5px;
					margin-left:52.8%;
					margin-top:-420px;
					width:45.5%;
				}
				#sección_historia article #titulo_historia{
					font-size:9vw;
					margin-bottom:10px;
					margin-left:52.2%;
					width:44%;
				}	
				#sección_historia article #parrafo_historia{
					font-size: 16px;
					margin-left:53%;
					margin-bottom:40px;
					width:47%;
				}
				#sección_historia article #ver_mas1{
					font-size:27px;
					margin-left:2.2%;
				}
			#sección_obras{
				margin:auto;
				margin-bottom:145px;
				width:94%;
			}
				#sección_obras article #orinal{
					margin-bottom:70px;
					width:50%;
				}	
				#sección_obras article #linea_obras{
					height:5px;
					margin-left:52.4%;
					width:37.5%;
				}
				#sección_obras article #titulo_obras{
					font-size:380%;
					margin-left:0;
				}
				#sección_obras article #parrafo_obras{
					font-size:17px;
					margin-bottom:49px;
					margin-left:52.5%;
					width:47.5%;
				}
				#sección_obras article #ver_mas2{
					font-size:27px;
					margin-left:-1%;
				}
	footer{
		height:130px;
	}
	footer #hr_footer1{
		border:solid 1px black;
	}
		footer #span1{
			font-size:25px;
			margin-bottom:29px;
			margin-top:42px;
		}
		footer #span2{
			font-size:1.4vw;
			margin-top:8px;
			padding-top:0px;
			width: 20%;
		}
		footer #hr_footer2{
			border:solid 1px black;
			margin-top:-5px;
		}
}

/*Móviles*/
@media screen and (min-width:0px) and (max-width:479px){
	#contenedor{
		padding-top:100px;
		width:100%;
	}
	header{
		height:85px;
		width:100%;
	}
	header hr{
		border:solid 1px black;
		background:black;	
	}
		header label{
			display:block;
			font-size:27px;
			left:10%;
			position:absolute;
			top:34%;
		}
		header label:hover{
			color:rgb(185, 190, 191);
			transition:0.1s;
		}
		#btn-menu:checked ~ nav #menu_principal{
			transform:translateX(0px);
		}
		header > a{
			height:45px;
			margin-top:14px;
			width:45px;	
		}
		header .logo{
			background-image:url("../imagenes/Logo_responsive.png");
			height:45px;
			margin-top:-3px;
			width:45px;
		}
		header nav hr{
			display:none;
		}
			header nav #menu_principal{
				border:solid 2px;
				padding-top:6px;
				margin-right:641px;
				margin-top:-18px;
				text-align:left;
				transform:translateX(-100%);
				transition:0.1s;
				width:70%;
			}
				header nav #menu_principal li{
					float:none;
					margin-left:0;
					width:100%;
				}
					header nav #menu_principal li a{
						font-size:16px;
						padding:10px 12px 10px 20px;
						width:100%;
					}
	#sección_historia{
		margin-bottom:33%;
		text-align:center;
		width:100%;
	}
		#sección_historia #Marcel_pipa{
			float:none;
			height:120%;
			margin-bottom:50px;
			width:100%;
		}
		#sección_historia article #linea_historia{
			height:4px;
			margin:auto;
			width:77%;
		}
		#sección_historia article #titulo_historia{
			font-size:16vw;
			margin-left:-1%;
			margin-bottom:12px;
			margin-top:0px;
		}
		#sección_historia article #parrafo_historia{
			font-size:6vw;
			margin:auto;
			margin-bottom:40px;
			width:80%;
		}
		#sección_historia article #ver_mas1{
			font-size:9vw;
		}
	#sección_obras{
		text-align:center;
		margin-bottom:29.8%;
		margin-left:0;
		width:100%;
	}
		#sección_obras article #orinal{
			float:none;
			margin-bottom:50px;
			margin-right:0px;
			width:100%;
		}
		#sección_obras article #linea_obras{
			height:4px;
			margin:auto;
			margin-bottom:-70px;
			width:55.5%;
		}
		#sección_obras article #titulo_obras{
			font-size:16vw;
			margin-left:0%;
			margin-bottom:10px;
		}
		#sección_obras article #parrafo_obras{
			font-size:6vw;
			margin:auto;
			margin-bottom:40px;
			width:80%;
		}
		#sección_obras article #ver_mas2{
			font-size:9vw;
		}
		footer{
			height:120px;
			text-align:center;
		}
			footer #hr_footer1{
				background:black;
				border:solid 1px;	
			}
			footer #span1{				
				font-size:17px;
				display:inline-block;
				margin-bottom:35px;
				margin-top:42px;
			}
			footer #span2{
				font-size:2vw;
				margin-top:-31px;
				width:29%;
			}
			footer #hr_footer2{
				border:solid 1px;
				margin:-5px 0px 0px 0px;/*<hr> tiene un margin-top y bottom por default y para sacarselo aplico estos estilos y para que se quede pegado al borde inferior del footer le apliqué el -4px al top. Para aplicar margin asi a los 4 lados el orden es en el sentido del reloj*/
			}   
}