#contenedor{
	box-sizing:border-box;
	margin:auto; /*centra el contenedor y para eso debe tener tener un width inferior a la pantalla*/
	margin-top:12.3%;
	max-width:1360px;
	overflow:hidden;
	padding-top:220px;
	width:90%;
}
	header{
		box-sizing:border-box;
		height:163px;
		position:fixed;
		text-align:center;
		top:0;
		width:90%;
	}
		header hr{
		border:solid 2px black;	
		margin-left:0;
		margin-top:0;
		width:70%;
		}
		header #btn-menu{
			display:none;
		}
		header label{
			display:none;
		}
		header > a{			
			display:inline-block;
			height:92px;
			margin-bottom:33px;
			margin-top:25px;
			padding-top:-12px;
			width:169px;
		}
		header .logo{
			background:url(../imagenes/Logo_escritorio_marcel.png);
			background-repeat:no-repeat;
			height:92px;
			margin-top:0px;
			text-indent:-2000px;
			width: 169px;
		}
		header nav hr{
			margin-left:29.6%;
		}
		header #menu_principal{
			display:inline-block; /*transforma el ul que es un elemento de bloque a uno de linea también*/
			list-style-type:none;
			padding:0;
			text-align:center; /*centra los items*/
			/*padding:0; le quita un padding-left que tiene el li por default*/
		}
			header nav #menu_principal li{
				float:left;
				margin-top:-6px;
				margin-left:18px;
				margin-right:18px;
			}
				header nav #menu_principal li a{
					color:black;
					display:inline-block;
					font-family:Quicksand, Cursus, nunito;
					font-size:19px;
					font-weight:500;
					padding:8px 17px 8px 17px;
					box-sizing:border-box;
					text-decoration:none;
				}	
				header nav #menu_principal li a:hover{
					box-shadow: inset 0 4px rgb(185, 190, 191); /*inset izq. arriba*/
					transition:0.2s;
				}
	#sección_historia{
		margin: auto;
		margin-bottom:27%;
		width:90%;
	}
		#sección_historia #Marcel_pipa{
			float:left;
			height:480px;
			margin-right:1.5%;
			width:38%;
		}
		#sección_historia article #linea_historia{
			background:rgb(234,155,37);
			border:none;
			height:7px;
			margin-bottom:-70px;
			margin-left:40.2%;
			width:41.5%;
		}
		#sección_historia article #titulo_historia{
			font-family:Leelawadee ui, Segoe UI, Homizio;
			font-size:7vw;
			margin-bottom:21px;
			margin-left:39%;
			margin-top:72px;
			/*font-size:90px; si se achica o agranda el h2 o cualquier texto tambien se agranda en ancho y alto el el text-decoration-line:overline
			text-decoration-line:overline;*/
		}
		#sección_historia article #parrafo_historia{
			font-family:Quicksand, Cursus, nunito;
			font-size: 1.7vw;
			margin-left:40.1%;
			margin-bottom:65px;
			width:61%;
}
		#sección_historia article p span{
			background-image:linear-gradient(90deg, black, white);
			background-clip:text;
			-webkit-background-clip:text;
			-moz-background-clip:text;
			-webkit-text-fill-color:transparent;
			-moz-text-fill-color:transparent;
						
		}
		#sección_historia article #ver_mas1{
			font-family:Quicksand, Cursus, nunito;
			font-size:2.5vw;
			color:black;
			margin-left:-2px;
			padding:8px;
			text-decoration:none;
		}
		#sección_historia article #ver_mas1:hover{
			box-shadow:inset 0 4px rgb(185, 190, 191);
			transition:0.2s;
		}
		#sección_obras{
			margin-left:5%;
			margin-bottom:29.8%;
			width:85%;
		}
		#sección_obras article #orinal{
			float:left;
			margin-right: 1.8%;
			width:48%;
		}
		#sección_obras article #linea_obras{
			background: rgb(234, 155, 37);
			border:none;
			height:7px;
			margin-left:50.1%;
			margin-bottom:-70px;
			width:29.8%;
		}
		#sección_obras article #titulo_obras{
			font-family:Leelawadee ui, Segoe UI, Homizio;
			font-size:7vw;
			margin-bottom:21px;
			margin-left:39%;
			margin-top:72px;
		}
		#sección_obras article #parrafo_obras{
			font-family:Quicksand, Cursus, nunito;
			font-size: 1.7vw;
			margin-bottom:65px;
			margin-left:50%;
			width:50.6%;
		}
		#sección_obras article #parrafo_obras span{
			background-image:linear-gradient(90deg, black, white);
			background-clip:text;
			-moz-background-clip:text;
			-webkit-text-fill-color:transparent;
			-moz-text-fill-color:transparent;
		}
		#sección_obras article #ver_mas2{
			font-family:Quicksand, Cursus, nunito;
			font-size:2.5vw;
			color:black;
			margin-left:-2px;
			padding:8px;
			text-decoration:none;
		}
		#sección_obras article #ver_mas2:hover{
			box-shadow:inset 0 4px rgb(185, 190, 191);
			transition:0.2s;
		}
	footer{
			clear:both; /*sirve para limpiar el float de #marcel_pipa*/
			font-family:Quicksand light, Cursus, nunito;
			height:180px;
			text-align:center;
		}
			footer #hr_footer1{
				border:solid 2px black;	
				margin-left:0;
				width:70%;
			}
			footer #span1{				
				font-size:27px;
				display:inline-block;
				margin-bottom:35px;
				margin-top:65px;
			}
			footer #span2{
				display:inline-block;
				font-size:0.9vw;
				margin-right:82%;
				margin-top:29px;
				padding-bottom:0px;
				padding-right:0px;
				width: 26.5%;
			}
			footer #hr_footer2{
				border:solid 2px black;
				display:block;
				float:right;
				margin:-4px 0px 0px 0px;/*<hr> tiene un margin-top y bottom por default y para sacarselo aplico estos estilos y para que se quede pegado al borde inferior del footer le apliqué el -4px al top. Para aplicar margin asi a los 4 lados el orden es en el sentido del reloj*/
				width:70%;
			}   