#container{
	margin:auto;
	max-width:1360px;
	overflow:hidden; /*quita los margenes superiores y de la derecha (desaparece el scroll derecho)*/
	width:90%;
}	
	header{
		height:163px;
		text-align:center;
		width:90%;
		position:fixed;
	}
		header hr{
			border:solid 2px black;
			margin-left:0;
			margin-top:0;
			width:70%;
		}
		header #btn-menu{
			display:none;
		}
		header label{
			display:none;
		}	
		header > a{
			display:inline-block;
			height:92px;
			margin-bottom:33px;
			margin-top:24px;
			padding-top:-12px;
			width:169px;
		}
			header .logo{
				background:url(../imagenes/Logo_escritorio_marcel.png);
				height:92px;
				margin-top:0;
				text-indent:-2000px;
				width:169px;
			}
		header nav hr{
			margin-left:29.6%;
		}
			header nav #menu_principal{
				display:inline-block;
				list-style-type:none;
				margin-top:11px;
				padding:0;
				text-align:center;
			}
				header nav #menu_principal li{
					float:left;
					margin-left:18px;
					margin-right:18px;
				}
					header nav #menu_principal li a{
						color:black;
						display:inline-block;
						font-family:Quicksand, Nunito;
						font-size:19px;
						font-weight:700;
						padding:8px 17px 8px 17px;
						box-sizing:border-box;
						text-decoration:none;
					}	
						header nav #menu_principal li a:hover{
							box-shadow: inset 0 4px rgb(185, 190, 191);
							transition:0.2s;
						}
}
